Types of Regression
There are various types of regression models that can be used in machine learning.

- Linear Regression: This is the foundation of regression, it fits a straight line to model the relationship between the independent and dependent variables. It is suitable for understanding linear relationships but can't capture more complex relationships (which is more common in real world problems). It's usually a good starting point.
- Polynomial Regression:  Polynomial regression can be used for capturing non-linear relationships, it fits a higher-order polynomial equations (think curves) to the data. But beware of overfitting with too complex polynomials.
- Logistic Regression: (Technically not pure regression, but often included due to its name.) Logistic regression is used to predict the probability of an event happening (often binary outcomes like pass/fail). It uses a sigmoid function to map the output between 0 and 1.
- Multiple Regression: Multiple regression is a statistical technique used to predict a continuous value using multiple independent variables  at the same time.

In [1]:
import numpy as np 
import pandas as pd
from IPython.display import display
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_excel('SalariesVsExperience.xlsx', sheet_name= 'data')
display(df)

     Years Experience  Salary
0                 1.1   25805
1                 1.3   21393
2                 1.5   23266
3                 2.0   28108
4                 2.2   31532
..                ...     ...
96                3.4   34465
97                8.1   60683
98                3.9   34343
99                1.6   32291
100               1.3   19950

[101 rows x 2 columns]